[submodule "sprintit/sprintit_accounting_official"]
	path = sprintit/sprintit_accounting_official
	url = git@bitbucket.org:sprintit/sprintit_accounting_official.git
	branch = 14.0
[submodule "sprintit/cooliblade_addons"]
	path = sprintit/cooliblade_addons
	url = git@bitbucket.org:sprintit/cooliblade_addons.git
	branch = 14.0
